/* navigation bar component styles */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  /* box-shadow: 5px 6px 8px #cccccc6b; */
  height: 5rem;
}

.nav-text {
  font-family: "Noto Sans JP", sans-serif;
  margin-left: 15px;
  font-size: 2rem;
  font-weight: 500;
  color: #090a16;
}

.nav-bar > ul {
  display: flex;
  justify-content: space-around;
  width: 30%;
  height: 50%;
  align-items: center;
}

.nav-bar ul li {
  font-family: "Noto Sans JP", sans-serif;
  list-style: none;
}

.nav-links {
  text-decoration: none;
  color: #090a16;
}

.nav-text:hover,
.nav-links:hover {
  color: #8f8e8d;
}

/* Student table component */
.student-table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: auto;
  height: auto;
}

/* table */
.student-table,
th,
tr,
td {
  text-transform: capitalize;
  padding: 1rem;
  border-collapse: collapse;
  cursor: pointer;
}
.student-table,
tr,
th,
td {
  color: black;
  border: 1px solid whitesmoke;
}

th,
tr:nth-child(2n) {
  background-color: white;
}

td {
  font-family: "Noto Sans JP", sans-serif;
}
tr:hover,
:is(tr:hover) td {
  background-color: #61605e;
  color: white;
  border: none;
}

:is(tr:hover) svg {
  fill: #c9c4c4;
}

/* pagination bar */
.pagination-bar {
  background-color: white;
  border: 1px solid whitesmoke;
  display: inline-flex;
  cursor: pointer;
}

.pagination-bar li {
  border-left: 1px solid whitesmoke;
  padding: 1rem;
  list-style: none;
}

.pagination-bar li:nth-child(2n) {
  background-color: whitesmoke;
}

.current-page,
.next-page-btn {
  background-color: #61605e !important;
  color: white !important;
}

/* Activity Stats  */
.activity-stats-container {
  margin-top: 25px;
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
  width: 60%;
}

.total-students,
.total-countries,
.activity-stats {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  height: 100px;
  width: 170px;
  border-radius: 1rem;
  color: whitesmoke;
}

.total-students {
  padding-left: 0.4rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #020405;
}
.total-students-figure {
  font-size: 1.7rem;
}
.total-countries {
  background-color: #ff6347;
}
.activity-stats {
  background-color: #004680;
}

/* Filter Selector component */

.filter-component {
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
  align-items: center;
  width: 50%;
}

.filter-component input,
.filter-component select,
.filter-component button {
  background-color: white;
  border: none;
  padding: 0.3rem;
  cursor: pointer;
}

.filter-component button {
  background-color: #61605e !important;
  color: whitesmoke !important;
}

/* Sort component */
.sort-selector,
.sort-btn {
  background-color: white;
  border: none;
  padding: 0.3rem;
  cursor: pointer;
}

.sort-btn {
  background-color: #61605e !important;
  color: white !important;
}

/* Search bar */

.search-bar {
  padding: 0.3rem;
  border: 1px solid #c9c4c4;
}

.search-bar:focus {
  outline: 1px solid #61605e;
}

/* Add student Prompt */

.add-student-prompt {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #404950d3;
}

.popup-box-container {
  position: relative;
  width: 500px;
  height: 500px;
  padding: 0 0 3rem 1.5rem;
}

.remove-add-prompt-button {
  cursor: pointer;
  font-size: 3rem;
  font-family: "roberto";
  color: #fffffff8;
  opacity: 1;
  z-index: 1;
}

.add-student-form {
  position: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  padding: 2.5rem 0 2rem 0;
  width: 90%;
  height: 90%;
  background-color: #fffffff8;
  box-shadow: 0px 6px 5px 7px #00000045;
  opacity: 1;
}

.add-student-form input,
.add-student-form select {
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid #c9c4c450;
  color: #000000;
  font-family: "nova square", cursive;
  font-size: 1rem;
  width: 70%;
}

.add-student-form option {
  background: #61605e;
  color: #ffffff;
}

.add-student-form button {
  outline: none;
  border: none;
  padding: 0.4rem;
  background: #61605e;
  color: #ffffff;
  cursor: pointer;
  font-family: "nova square", cursive;
  font-size: 1.2rem;
}
.remove-add-prompt-button:hover {
  color: #000000;
}
.add-student-form button:hover {
  background: #000000 !important;
}

/* Generic Classnames */

.flex-colum-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
}

/* Add Button */
.add-button {
  background: #ffffff;
  padding: 0.3rem;
  outline: none;
  border: none;
}
